/* search bar user input */
input[type=text] {
    text-align:center;
    width: 500px;
}

/* search button to submit */
input[type=submit] {
    position: relative;
    width: 80px;
    left: 42%;
    text-align: center;
}

/* the whole html body */
body {
    background-color: #ffffff;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

/* container for the search bars, buttons and logo */
.container {
    position: relative;
}

/* container to print the results into */
.prints {
    position: relative;
    top:  160px;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #f0f0f0;
}

/* container for form (search bar, button) in top left corner */
.top-left {
    position: absolute;
    top:  10px;
    left: 10px;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #f0f0f0;
}

/* container for form (search bar, button) in top right corner */
.top-right {
    position: absolute;
    top:  10px;
    right: 10px;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #f0f0f0;
}

/* the spider logo in the top middle */
.spide {
    position: absolute;
    height: 120px;
    width: 120px;
    top: 8px;
    left: 45%;
}

/* the logo in bigger with dont for sort of 404 */
.sorry_spide {
    position: absolute;
    height: 240px;
    width: 200px;
    left: 42%;
    top: 20%;
}

/* the explanaiton in the sort of 404 */
.sorry_explained {
    position: absolute;
    left: 30%;
    top: 60%;
}

/* holds the previous and next buttons */
.lower-container {
    position: relative;
    top:  160px;
    bottom: 20px;
    height: 25px;
    left: 33%;
    width: 33%;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #f0f0f0;
}

/* the previous button */
.lower-left {
    position: absolute;
    bottom: 10px;
    left: 10%;
    
}

/* the next button */
.lower-right {
    position: absolute;
    bottom: 10px;
    right: 20%;
}