<!DOCTYPE html>
<html>
    
    <head>
        <title>crawl the web</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        <form action = "./show_results" method = "POST"> 
            <input type="image" src="{{ url_for('static', filename='sorry_spider.png') }}" class="sorry_spide">
            <input type = 'hidden' name = 'query'/>
            <input type = 'hidden' name = 'choice'/>
            <input type = 'hidden' name = 'page' value="1"/>
        </form>

        <div class="sorry_explained"> 
            <p >
                <h1>sorry this feature is currently not available</h1>
                the server isnt really supporting multiprocessing, but if you like to try it for yourself locally <br>
                have a look at our <a href="https://github.com/tjayada/search-engine/tree/beautify-website" target="_blank">github repo</a> <br>
                happy crawling
            </p>
        </div>
    </body>
</html>